# Exploring data

In [1]:
import pandas as pd
import numpy as np

In [3]:
items = pd.read_csv('../data/items.csv')

In [5]:
items.describe()

           item_id  item_category_id
count  22170.00000      22170.000000
mean   11084.50000         46.290753
std     6400.07207         15.941486
min        0.00000          0.000000
25%     5542.25000         37.000000
50%    11084.50000         40.000000
75%    16626.75000         58.000000
max    22169.00000         83.000000